.container {
  max-width: 700px;
  margin: 40px auto;
}

.container > div {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 3px solid darkblue;
  padding: 30px;
  overflow: hidden;
}

input[type="text"] {
  background-color: grey;
}

p + p {
  color: blueviolet;
}

a:visited {
  color: lightblue;
}
